@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*{
    box-sizing: border-box;
}

h2 { 
    font-family: "Montserrat", Arial;
    font-size: 45px;
    font-weight: 700;
}

h3 {
    font-family: "Montserrat", Arial;
    font-size: 20px;
    font-weight: 700;
}

body {
    font-family: "Roboto", Arial;
    font-size: 16px;
}

/* START OF SIDE BAR */

.sidebar {
border-right: 1px solid #e6e6e6;
width: 20%;
height: 100%;
float: left;
position: fixed;
text-align: center;
}

.bar-item {
    display: none;
}

ul {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 300;
    position: relative;
    padding: 10px 10px;
    letter-spacing: .2em;
    font-family: "Montserrat", Arial, sans-serif;
    list-style: none;
    line-height: 3;
}

.liststyle {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
}

.liststyle:hover {
    outline: 0.1px solid #da1212;
    padding: 5px;
}

.footer {
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
/* END OF SIDE BAR */

/* START OF CONTAINER */

.container {
    margin-left: 26.5%;
    padding: 1em 0;
}

/* END OF CONTAINER */

/* PORTFOLIO IMAGE LAYOUT AND SIZES */

.container img {
    height: 300px;
    width: 300px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolioitem {
        border: 10px solid transparent;
        font-family: "Montserrat", Arial, sans-serif;
        text-align: center;
}

.portfolioitem p {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 15px;
    text-align: center;
}

.img-responsive:hover {
    border: 10px solid grey;
    transition: 0.5s; 
}

/* END OF PORTFOLIO */