@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*{
    box-sizing: border-box;
}

h2 { 
    font-family: "Montserrat", Arial;
    font-size: 45px;
    font-weight: 700;
}

h3 {
    font-family: "Montserrat", Arial;
    font-size: 20px;
    font-weight: 700;
}

body {
    font-family: "Roboto", Arial;
    font-size: 16px;
}

/* SIDE BAR */

.sidebar {
border-right: 1px solid #e6e6e6;
width: 15%;
height: 100%;
float: left;
}

.bar-item {
    display: none;
}

ul {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    padding: 10px 10px;
    letter-spacing: .2em;
    font-family: "Montserrat", Arial, sans-serif;
    list-style: none;
    line-height: 25px;
}

.liststyle {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
}

.liststyle:hover {
    text-decoration: underline red;
    padding: 5px;
}

.footer {
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
/* END OF SIDE BAR */

.container {
    margin-left: 20%;
}

.container img {
    height: 300px;
    width: 300px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolioitem {
        border: 10px solid transparent;
        
}